.swp
.swo
~
.DS_Store

# I know these look redundant, but Windows insists on it
# Kevin H.
*.swp
*.swo
*~

# Build Artifacts
env.bat
mysql-connector-java-8.0.21.jar

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files - STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea


.vscode
